<mat-toolbar color="primary" class="custom-toolbar">

  <span (click)="goToHome()" class="toolbar-title">
    Sat Gitsin
    <img src="assets\images\sparkles (2).png" alt="brand image" style=" height: 32px !important;
    width: 32;
    position: absolute !important;
    margin-left: -10% !important;
    margin-top: 0% !important;">
  </span>

  <div class="button-container">
    <span class="toolbar-item">Kategoriler</span>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
      <mat-icon>more_vert</mat-icon>
    </button>

    <div mat-mdc-menu-panel>
      <div>
        <mat-menu #menu="matMenu" class="category-menu">
          <button mat-menu-item *ngFor="let item of categoryList" (click)="onMenuClicked(item.categoryId)">
            <span>{{ item.categoryName }}</span>
          </button>
        </mat-menu>
      </div>
    </div>

    <span class="toolbar-item">İlan ver</span>
    <button mat-icon-button class="chat-button" routerLink="/sell">
      <mat-icon>sell</mat-icon>
    </button>

    <span class="toolbar-item">Mesajlar</span>
    <button mat-icon-button class="chat-button" routerLink="/example">
      <mat-icon matBadge="1" matBadgeColor="accent">sms</mat-icon>
    </button>

    <!-- user login proccess-->

    <span class="toolbar-item" *ngIf="!findUser">Kayıt Ol</span>
    <button mat-icon-button class="register-button" routerLink="/register" *ngIf="!findUser">
      <mat-icon>person</mat-icon>
    </button>

    <ng-container *ngIf="findUser; else loginButton">
      <span class="toolbar-item">{{ findUser.userNameSurname}}</span>

      <button mat-fab extended id="user-profie-btn" class="button-icon" routerLink="/userprivate">
        Profilimi görüntüle<mat-icon>person</mat-icon>
      </button>
    </ng-container>

    <ng-template #loginButton>
      <span class="toolbar-item">Giriş Yap</span>
      <button mat-icon-button class="login-button" routerLink="/login">
        <mat-icon>login</mat-icon>
      </button>
    </ng-template>

    <span class="toolbar-item">Çıkış Yap</span>
    <button mat-icon-button class="logout-button" (click)="openSnackBar()" routerLink="/home">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>



<router-outlet></router-outlet>


<footer class="custom-footer">
  <div class="footer-content">
    <div class="footer-logo">
      <span>Sat Gitsin</span>
    </div>
    <div class="footer-links">
      <a href="#">Hakkımızda</a>
      <a href="#">Gizlilik Politikası</a>
      <a href="#">Kullanım Şartları</a>
    </div>
  </div>
</footer>